# **ГОРСКАЯ ВИКТОРИЯ 11-801**

In [1]:
import pandas as pd
import datetime

In [32]:
month_my = datetime.date(2020, 7, 1)

In [122]:
data = pd.read_csv('/content/sample_data/ddd.csv',  names=['time'],  parse_dates=['time'])

In [123]:
data['date'] = data['time'].dt.date
data['hour'] = data['time'].dt.hour
data['week'] = data['time'].dt.week
data['month'] = data['time'].dt.month
data['year'] = data['time'].dt.year
data['day'] = data['time'].dt.day
data['weekday'] = data['time'].dt.weekday

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
def avg(data):
    return sum(data) / len(data)

def disp(data, avg_):
    return sum([x * x for x in data]) / len(data) - avg_ * avg_

In [82]:
data_my = data[(data.month == month_my.month)& (data.year == month_my.year)]

In [131]:
avg_min_disp = []

# **1 task**

In [133]:
data_1 = data_my[(data_my.day <= month_my.day+2)]
stat = list(data_1.groupby(['date', 'hour'])['time'].count())
avg_1 = avg(stat)
disp_1 = disp(stat, avg_1)
avg_1, disp_1

(96.76388888888889, 3140.569251543211)

In [134]:
avg_min_disp.append((avg_1, disp_1))

# **2 task**

In [135]:
stat = list(data_my.groupby(['day'])['time'].count())
avg_1 = avg(stat)
disp_1 = disp(stat, avg_1)/24
avg_1/24, disp_1

(132.34274193548387, 17059.22233784253)

In [136]:
avg_min_disp.append((avg_1/24, disp_1))

# **3 task**

In [139]:
for weekday_ in range(7):
  data_3 = data[(data.month <= month_my.month+1)&(data.month >= month_my.month-1)&(data.year == month_my.year) & (data.weekday == weekday_)]
  stat = list(data_3.groupby(['day'])['time'].count())
  avg_1 = avg(stat)
  disp_1 = disp(stat, avg_1)/24
  avg_min_disp.append((avg_1/24, disp_1))
  print(avg_1/24, disp_1)

123.63690476190476 57334.591836734755
126.33012820512822 68088.42603550293
123.70833333333333 60747.61538461541
123.74679487179488 60616.65039447726
143.1282051282051 81237.59270216967
168.47115384615384 111933.49605522677
117.125 48614.19871794875

# **4 task**

In [140]:
data_4 = data[(data.month <= month_my.month+1)&(data.month >= month_my.month-1)&(data.year == month_my.year)]
stat = list(data_4.groupby(['week'])['time'].count())
avg_1 = avg(stat)
disp_1 = disp(stat, avg_1)/24/7
avg_1/24/7, disp_1

(124.11777210884352, 570907.4372266765)

In [141]:
avg_min_disp.append((avg_1/24/7, disp_1))

# **5 task**

In [142]:
stat = list(data.groupby(['month','year'])['time'].count())
stat
avg_1 = avg(stat)
disp_1 = disp(stat, avg_1)/24/30
avg_1/24/30, disp_1

(131.00372807017544, 3041984.218428747)

In [143]:
avg_min_disp.append((avg_1/24/30, disp_1))

# **6 task**

In [153]:
import operator
import math
rent = 2400
l = min(avg_min_disp, key = operator.itemgetter(1))[0] / 3600
tau_ = 2.3
mu = 1 / tau_
tau = 30
ro = l / mu
def task_6(n, w=False):
    a = n / ro
    b = l * tau
    c = math.exp(b * (1 - a))
    B = (c - 1) / (1 - a)
    p0 = 1/(sum([(ro ** k) / math.factorial(k) for k in range(n)]) + ((ro ** n) / math.factorial(n)) * B)
    p_otk = ((ro ** n )/ math.factorial(n)) * c * p0
    w0 = tau * (ro ** n / math.factorial(n)) * p0 * (1 + b / 2)
    return (p_otk, w0) if w else p_otk

In [158]:
#вероятность отказа и средн время в очереди и штраф
task_6(8, w=True)

(5.361114878986349e-60, 2.0939944152855666e-13)

In [161]:
#Определите значение х, при котором арендовать более 20 ядер не выгодно.
n1 = 20
n2 = 21
p_otk20 = task_6(n1)
p_otk21 = task_6(n2)
x = rent / (avg_1 * (p_otk20 - p_otk21))
x = x - 1
print(x)

8.705783910117086e+153

In [174]:
#2Увеличьте в три раза значение x, полученное в предыдущем пункте, и рассчитайте для него оптимальное количество используемых ядер. 
x *= 3
prev = math.inf
for n in range(100):
    p_otk = task_6(n)
    if n * rent + avg_1 * p_otk * x > prev:
        print(prev_n, prev)
        break
    prev,prev_n = n * rent + avg_1 * p_otk * x,n

21 50402.708655466544